#__next {
  margin: 30px 30px;
  // font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  // font-family: Verdana, Geneva, sans-serif;
  line-height: 2em;
  li p {
    line-height: 0.8em;
  }
  text-align: justify;
}

@font-face {
  font-family: "AvenirNextBold";
  src: url("/Avenir-Next-LT-Pro-Bold.ttf");
}

@font-face {
  font-family: "AvenirNextRegular";
  src: url("/Avenir-Next-Regular.ttf");
}

$yellow-primary: rgb(252, 175, 23);
$purple-primary: rgb(126, 73, 157);
$red-primary: rgb(238, 77, 155);
$blue-primary: rgb(68, 173, 226);

$yellow-secondary: rgb(215, 136, 23);
$purple-secondary: rgb(96, 44, 130);
$red-secondary: rgb(197, 47, 125);
$blue-secondary: rgb(26, 135, 188);

$logo-text: rgb(56, 77, 110);

.pure-g > div {
  box-sizing: border-box;
}

footer.footer {
  margin-top: 20px;
}

.centered {
  margin: 0 auto;
}

.centered-text {
  text-align: center;
}

.padding-side-sm {
  padding: 0 1em;
}

.marginal {
  margin: auto;
}

ul.list,
ol.list {
  list-style-type: none;
}

a.link {
  color: rgb(0, 0, 238);
  &:hover {
    color: rgba(0, 0, 238, 0.8);
  }
}

h1.header,
h2.header,
h3.header,
h4.header,
h5.header,
h6.header {
  color: $logo-text;
  &,
  #__next .pure-g &[class*="pure-u"] {
    font-family: "AvenirNextBold";
  }
}
