#__next {
  margin: 30px 30px;
  // font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  // font-family: Verdana, Geneva, sans-serif;
  line-height: 2em;
  li p { line-height: 0.8em; }
  text-align: justify;
}


@font-face {
  font-family: 'AvenirNext';
  src: url('/Avenir-Next-LT-Pro-Bold.ttf');
}

.pure-g > div {
  box-sizing: border-box;
}

footer {
  margin-top: 20px;
}

.centered {
  margin: 0 auto;
}

.centered-text {
  text-align: center;
}

.padding-side-sm {
  pre {
    //overflow: visible;
    white-space: normal;
  }
  padding: 0 1em;
}

ul, ol {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(56,77,108);
  &, .pure-g &[class *= "pure-u"] {
    font-family: 'AvenirNext';
  }
}
