#__next {
  margin: 30px 30px;
  // font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 2em;
  li p { line-height: 0.8em; }
  text-align: justify;
}

.pure-g > div {
  box-sizing: border-box;
}

footer {
  margin-top: 20px;
}

.centered {
  margin: 0 auto;
}

.centered-text {
  text-align: center;
}

.padding-side-sm {
  pre {
    //overflow: visible;
    white-space: normal;
  }
  padding: 0 1em;
}

ul, ol {
  list-style-type: none;
}
