#__next {
  margin: 30px 30px;
  // font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 2em;
  li p { line-height: 0.8em; }
  text-align: justify;
}

footer {
  margin-top: 20px;
}

.centered {
  margin: 0 auto;
}

.centered-text {
  text-align: center;
}
