.autoComplete {
  display: inline-block;
  width: 100%;
}

.input {
  display: inline-block;
}

.textInput {
  margin-bottom: 1em;
  width: 100%;
}

.options {
  position: absolute;
  z-index: 500;
  background-color: white;
  cursor: pointer;
}

.chosenItem {
  position: relative;
  display: inline-block;
  margin-right: 1em;
}
