.buttonLink {
  border: none;
  background-color: white;
  color: rgb(0, 0, 238);
  &:hover {
    color: rgba(0, 0, 238, 0.8);
  }
}

.lesson {
  margin-bottom: 150px;
}

.questions {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  max-height: 35%;
  overflow-y: scroll;
  background-color: rgba(255,255,255,0.8);
}
