.card {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
  height: 10em;
}

.link {
  text-decoration: none;
}

.header {
  white-space: normal;
  overflow: visible;
}

.contents {
  text-decoration: underline;
}
