.conceptLink {
  font-size: 0.8em;
  border-radius: 2em;
  color: inherit;
  -webkit-user-select: text; /* Safari */
  -ms-user-select: text; /* IE 10+ and Edge */
  user-select: text; /* Standard syntax */
}
