.spacer {
  width: 60px;
  display:inline-block;
}

.betterWorse{
  top: -1em;
  position: relative;
  display: inline-block;
  height: 160px;;
}

.submitButton {
  font-size: 3em;
  border-radius: 0.5em;
  margin-top: 20px;
}
