@use 'styles/app';

@mixin make-circle {
  border-radius: 50%;
}

.roundedRed {
  @include make-circle;
  background-color: app.$red-primary;
  color: app.$red-secondary;
}

.roundedYellow {
  @include make-circle;
  background-color: app.$yellow-primary;
  color: app.$yellow-secondary;
}

.roundedBlue {
  @include make-circle;
  background-color: app.$blue-primary;
  color: app.$blue-secondary;
}

.roundedPurple {
  @include make-circle;
  background-color: app.$purple-primary;
  color: app.$purple-secondary;
}
