.background {
  display: block;
  position: fixed;
  top: 0;
  backdrop-filter: blur(2px);
  height: 100%;
  width: 100%;
}

.interstitial {
  position:absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.frame {
  background-color: white;
  border: solid black 2px;
  border-radius: 10px;
  padding: 20px;
}

.hide {
  display: none;
  visibility: hidden;
}
