input.isValid, textarea.isValid {
  &:valid {
    border: solid green 1px;
  }
  &:invalid:focus {
    border: solid red 1px;
  }
}

.textArea {
  min-height: 4em;
  min-width: 100%;
  max-width: 100%;
  line-height: 1.2em;
}

.choiceTextArea {
  min-height: 4em;
  min-width: 10em;
  max-width: 100%;
  line-height: 1.5em;
}

.publishButton {
  height: 4em;
  border-radius: 15px;
}

.option {
  margin: 0.5em 0;
  padding: 0 10px;
  position: relative;
  border-radius: 8px;
  &:hover {
    background-color: lightgrey;
  }
}

.conceptLink {
  display: inline-block;
  & > a {
    vertical-align: super;
  }
}
