$textAlign: right;
$lineHeight: 1em;
$paddingBottom: 1.5em;

.logo {
  max-height: 75px;
  margin: 0 auto 10px auto;
}

.strong {
  font-weight: bold;
}

.navLink {
  text-align: $textAlign;
  line-height: $lineHeight;
  padding-bottom: $paddingBottom;

  & > a {
    text-decoration: none;
    color: black;
    &:visited {
      color: black;
    }
  }
}

.navButton {
  text-align: $textAlign;
  line-height: $lineHeight;
  & > button {
    padding: inherit;
    border: none;
    background: inherit;
    padding-bottom: $paddingBottom;
  }
}
