.strong {
  font-weight: bold;
}

.navLink {
  line-height: 1em;
  padding-bottom: 1em;

  & > a {
    text-decoration: none;
    color: black;
    &:visited {
      color: black;
    }
  }
}

.navButton {
  padding: inherit;
  border: none;
  background: inherit;
  padding-bottom: 1em;
}
